.DaySelection{
    flex: 1;
    height: 24px;
    padding: 10px 2px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-right: 1px solid var(--Dark-Gray, #949494);
    border-left: 1px solid var(--Dark-Gray, #949494);
}

.DaySelection:last-child {
    border-right: none;
  }

.WeekSelection{
    flex: 1;
    height: 24px;
    padding: 10px 2px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-right: 1px solid var(--Dark-Gray, #949494);
    border-left: 1px solid var(--Dark-Gray, #949494);
}

.WeekSelection:last-child {
    border-right: none;
  }

.DayText{
    margin: 0;
    color: var(--Black, #191919);
    text-align: center;
    font-family: 'Segoe UI';
    font-size: min(1.0416666vw, 20px);
    font-style: normal;
    font-weight: 400;
}

.WeekText{
    margin: 0;
    color: var(--Black, #191919);
    text-align: center;
    font-family: Inter;
    font-size: min(1.0416666vw, 20px);
    font-style: normal;
    font-weight: 400;
}