.DaySelection{
    display: inline-flex;
    height: 24px;
    padding: 10px 2px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    border-right: 1px solid var(--Dark-Gray, #949494);
    border-bottom: 1px solid var(--Dark-Gray, #949494);
    border-left: 1px solid var(--Dark-Gray, #949494);
}

.WeekSelection{
    display: flex;
    height: 24px;
    padding: 10px 2px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    border-right: 1px solid var(--Dark-Gray, #949494);
    border-bottom: 1px solid var(--Dark-Gray, #949494);
    border-left: 1px solid var(--Dark-Gray, #949494);
}

.DayText{
    width: 60px; 
    margin: 0;
    color: var(--Black, #191919);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.WeekText{
    width: 58px; 
    margin: 0;
    color: var(--Black, #191919);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}