.mainbody{
    display: flex;
    width: 139px;
    height: 44px;
    padding: 0px 5px;
    align-items: center;
    gap: 10px;
    border-right: 4px solid var(--Dark-Gray, #949494);
    border-bottom: 1px solid var(--Dark-Gray, #949494); 
}

.Text{
    color: var(--Black, #191919);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}