.static-sidebar {
    width: 14em;
    height: 100vh;
    flex-shrink: 0;

    position: fixed;
    display: inline-flex;

    z-index: 1;
    left: 0;

    background: var(--Static-Sidebar-Background, #E4E4E4);
}