.weather {
    padding: 1em;
    display: flex;
    flex-direction: column;
    height: 17.52em;
}

.weather-title {
    margin: .1em  auto;
    font-size: 1.5em;
    text-align: center;
}

.weather-row {
    display: flex;
    flex-direction: row;
    margin: .1em 0 1em;
}

.weather-header {
    font-size: 1.25em;
    font-weight: bold;
}

.weather-data {
    font-size: 1.25em;
    margin: 0 0 0 auto;
    justify-self: right;
}

.weather-btn {
    margin: .3em auto;
}

.vfr {
    background-color: #0cc502;
}

.mvfr {
    background-color: #226ed8;
}

.lifr {
    background-color: #ff40ff;
}

.ifr {
    background-color: #ff2600;
}