.title-bar {
    display: flex;
    width: 100%;
    margin-top: -1em;
    margin-bottom: 2em;
}

.space-filler {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.squawk-popup-header {
    display: flex;
    align-items: center;
    font-size: 2em;
    white-space: nowrap;
    margin-bottom: -1em;
}