.reservation-popup {
    font-family: Inter;
}

.TitleBar{
    display: flex;
    width: 100%;
    justify-content: center;
}

.spaceFiller{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    white-space: nowrap;
    padding: .5em;
    
}

.h2 {
    display: block;
    font-size: 1.5em;
    white-space: nowrap;
    padding: .5em;
    
}

.p {
    display: block;
    font-size: 1em;
    white-space: nowrap;
    padding: .5em;
}

.DialogBoxAircraft{
    display: flex;
    flex-direction: row;
    gap: 3em;
    padding-bottom: 1em;
    width: 100%;
    height: 100%;
}

.bottomBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 1em;
}
.generalInfo{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.squawks{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    border-radius: 20px;
    border: 4px solid var(--Trinary-Color, #4D81E8);
}

.generalInfoColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
}