.home-page {
    font-family: 'Segoe UI';
    display: flex;
    flex-direction: column;
    margin-left: 11.25em;
}

.home-page-header {
    font-size: 1.5em;
    margin-top: 0.25em;
    margin-left: 0.25em;
    margin-bottom: -1em;
}

.home-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-top: 2em;
}

.home-page-row-content {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.home-page-corner {
    border: 1px solid black;
    border-radius: 0.25em;
    width: 39em;
    height: 19.52em;
}