/* Center the gray box */
.login-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #fff;
    font-family: 'Segoe UI';
    overflow-y: hidden;
}

/* Style the login form */
.login-form {
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
    width: 30em;
    height: 40em;
    padding: 2em;
}

.login-image {
    display: flex;
    width: 70em;
}

.login-title-bar {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.TextFieldBar{
    display: flex;
    align-items: left;
    justify-content: left;
    margin-bottom: -1em;
}

.FlexColumnItem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.ResetPasswordText{
    margin-top: -1em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.FlexColumnItemPadded{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
}