/* Center the gray box */
.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    font-family: 'Segoe UI';
}

/* Style the login form */
.register-form {
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
    width: 28%;
    height: 88%;
    padding: 30px;
    overflow: scroll;
}

.TitleBar{
    display: flex;
    width: 100%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.TextFieldBar{
    display: flex;
    align-items: left;
    justify-content: left;
}

.FlexColumnItem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.FlexColumnItemPadded{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
}