.calendar-page {
    display: inline-flex;
    border-color: black;
}

.calendar {
    justify-content: left;
}

.dropdown {
    display: inline; 
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}