.content{
    flex: 1;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
}

.top-content-frame{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}

.buttons-frame{
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.sorting-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}

.weekday-frame{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1 0 0;
    align-self: stretch;
}

.fullpage{
    display: flex;
}
