.mainpage{
    display: flex;
    padding: var(--none, 0px);
    align-items: flex-start;
    gap: var(--none, 0px);
}

.main-content{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.top-content-frame{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}

.buttons-frame{
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.sorting-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}

.main-calendar-frame{
    display: flex;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 20px;
    border: 4px solid var(--Trinary-Color, #4D81E8);
}

.weekday-frame{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1 0 0;
    align-self: stretch;
}

.time-frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

