.instructors-content {
    display: inline-flex;
    align-items: flex-start;
    margin-left: 4em;
    margin-top: 4em;
}

.instructors-top-content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.instructors-page {
    display: inline-flex;
}