.confirmText {
    display: flex;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 8%;
}

.FlexRowItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}