.settings-content{
    display: flex;
    margin-left: auto;
    height: 100%;
    width: 100%;
    padding-left: 1%;
}

.settings-title{
    display: flex;
    flex-direction: column;
    height: 15%;
    width: 100%;
    align-items: center;
}

.column-items{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.column-flex-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.row-items{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.row-flex-item{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 5px;
}

.preferences-box{
    border: 3px solid rgba(77, 232, 180, 1);
    border-radius: 0.25em;
    width: 95%;
    height: 40vh;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 1%;
}

.availability-box{
    border: 3px solid rgba(77, 232, 180, 1);
    border-radius: 0.25em;
    width: 95%;
    height: 40vh;
    padding: 10px;
    overflow: hidden;
}

.profile-box{
    border: 3px solid rgba(77, 232, 180, 1);
    border-radius: 0.25em;
    width: 100%;
    height: 85vh;
    padding: 10px;
    overflow: hidden;
}