.settings-content {
    display: inline-flex;
}

.settings-top-content {
    display: block;
    margin-top: 2em;
    margin-left: 16em;
}

.confirm-button {
    display: block;
    margin-top: 32em;
}

.TitleBar{
    display: flex;
    width: 100%;
    justify-content: center;
}

.spaceFiller{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    white-space: nowrap;
    padding: .5em;
    
}

.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.dialogBox{
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 100%;
    height: 100%;
}

.error-message{
    display: flex;
    justify-content: center;
    color: #FF8080;
    font-size: 1.5em;
}