.settings-content {
    display: inline-flex;
}

.settings-top-content {
    display: block;
    margin-top: 2em;
    margin-left: 16em;
}

.confirm-button {
    display: block;
    margin-top: 36em;
}