
.top-content {
  display: inline-flex;
  margin-left: 14em;
}

.calendar-dropdown {
  display: inline-flex; 
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 1em;
}

.calendar-button {
  margin: 1em;
}

.calendar-schedule {
  display: block;
  margin-left: 15em;
  width: 80em;
  height: 23em;
  border: 1px solid black;
  border-radius: 1em;
}
